@import "tailwindcss";
@import "fumadocs-ui/css/preset.css";
@import "fumadocs-ui/css/default.css";
@source "../node_modules/fumadocs-ui/dist/**/*.js";

@theme {
  --font-sans: "MiSans", -apple-system, system-ui, sans-serif;
  --font-mono: "Maple Mono", monospace;
  --color-fd-background: hsl(250 20% 90%);
  --color-fd-primary: hsl(340, 40%, 48%);
  --color-fd-border: hsl(240, 40%, 90%);
  --color-fd-accent: hsl(250, 30%, 90%);
  --color-fd-accent-foreground: hsl(250, 20%, 20%);
  --color-fd-muted: hsl(240, 30%, 94%);
  --color-fd-muted-foreground: hsl(240, 10%, 50%);
  --color-fd-foreground: hsl(220, 20%, 30%);
  --color-fd-secondary: hsl(250, 40%, 94%);
  --color-fd-secondary-foreground: hsl(240, 40%, 10%);
  --color-fd-card: hsl(250, 20%, 92%);
  --color-fd-card-foreground: hsl(250, 20%, 20%);
  --color-fd-popover-foreground: hsl(250, 40%, 20%);
  --color-fd-popover: hsl(250, 40%, 96%);
  --color-fd-primary-foreground: hsl(240, 80%, 20%);
  --color-fd-ring: hsl(340, 40%, 48%);
  --color-my-docs: hsl(250, 20%, 92%);
}
.dark {
  --color-fd-ring: hsl(340, 100%, 90%);
  --color-fd-primary-foreground: hsl(240, 40%, 4%);
  --color-fd-popover: hsl(240, 20%, 5%);
  --color-fd-popover-foreground: hsl(250, 20%, 90%);
  --color-fd-primary: hsl(340, 100%, 90%);
  --color-fd-border: hsl(220, 15%, 15%);
  --color-fd-background: hsl(240 20% 5%);
  --color-fd-foreground: hsl(220, 15%, 87%);
  --color-fd-muted: hsl(220, 20%, 15%);
  --color-fd-muted-foreground: hsl(220, 15%, 60%);
  --color-fd-accent: hsl(250, 20%, 15%);
  --color-fd-secondary: hsl(240, 20%, 15%);
  --color-fd-card-foreground: hsl(240, 15%, 87%);
  --color-fd-card: hsl(240, 20%, 5%);
  --color-fd-secondary-foreground: hsl(250, 20%, 90%);
  --color-fd-accent-foreground: hsl(340, 5%, 90%);
  --color-my-docs: hsl(220, 15%, 6%);
}
body {
  background-color: var(--color-fd-background);
}

:root {
  --fd-page-width: 1400px;
}

#nd-sidebar > :first-child > :first-child > :nth-child(2) {
  @apply hover:bg-fd-accent/80 cursor-pointer;
}

/*@layer base {
  *:not(pre, pre *, code, code *) {
    font-family: MiSans;
  }
}*/

@layer components {
  .prose blockquote {
    margin: 0;
    padding: 0 1em;
    opacity: 0.6;
    border-left: 0.25em solid #3d444d;
    font-style: normal;
    & > p::before,
    & > p::after {
      content: "" !important;
    }
  }

  /* 调整正文文本粗细 */
  .prose {
    --tw-prose-body: var(--color-fd-foreground);
    --tw-prose-headings: var(--color-fd-foreground);
    --tw-prose-links: var(--color-fd-primary);
    --tw-prose-bold: var(--color-fd-foreground);
  }

  .prose p,
  .prose li,
  .prose blockquote,
  .prose dl {
    font-weight: 300;
  }
}

@theme {
  --ease-out-expo: cubic-bezier(0.16, 1, 0.3, 1);
}
